.card-animation {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12);
}

.card-animation:hover {
    transform: scale(1.05);
}

.md-raised {
      padding: 0 6px 0 6px;
      margin: 6px 8px 6px 8px;
      min-width: 88px;
      border-radius: 3px;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      text-decoration:none;
      border: none;
      outline: none;
}

@media (min-width: 768px)
.desktopsocial {
    display: block;
}
